.Notification {
    background-color: var(--colorBright);
    padding: 5px;
    /* border: 1px solid var(--colorBright2); */
    border-radius: 2px;
    color: var(--colorBackground);
    position: absolute;
    height: 25px;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    width: fit-content;
}
.task {
    font-weight: bolder;
    font-style: italic;
    color: var(--colorBackground);
}