* {
    font-size: 20px;
    font-family: sans-serif;
}
.filterButton:hover {
    color: rgb(0, 60, 255);
}
.filterButton {
    text-align: center;
    margin: 10px 20px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    color: rgb(15, 57, 77);
}
.selected {
    background-color: rgba(0, 174, 255, 0.5);
    color: rgb(0, 60, 255);
}
.filters {
    margin: 0 34.3vw;
    width: 31.4vw;
    padding: 0 13px;
    text-align: center;
}