* {
    font-size: 20px;
    font-family: sans-serif;
}
.filterButton:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.filterButton {
    text-align: center;
    margin: 10px 20px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(15, 57, 77);
}
.selected {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bolder;
    color: rgb(20, 180, 255);
}
.filters {
    display: flex;
    justify-content: center;
}