.displayList {
    border-bottom: 1px solid rgb(15, 57, 77);
    border-left: 1px solid rgb(15, 57, 77);
    border-right: 1px solid rgb(15, 57, 77);
    padding: 13px;
    width: 31.4vw;
    height: 20px;
    background-color: white;
}
.displayList:first-child {
    border-top: 1px solid rgb(15, 57, 77);
}
.scrollArea {
    max-height: 500px;
    overflow: auto;
    width: 100%;
    /* margin-left: calc(100vw - 100%); */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.todoItems {
    margin: 0 20px;
}
input:checked {
    background-color: skyblue;
}