.filterButton:hover {
    background-color: var(--colorDull3);
    color: var(--colorBright3);
}
.filterButton {
    text-align: center;
    margin: 10px 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--colorDull2);
    color: var(--colorBright2);
    border: 1px solid var(--colorBright3);
}
.selected {
    background-color: var(--colorBright);
    color: var(--colorBackground);
}
.selected:hover {
    background-color: var(--colorBright);
    color: var(--colorBackground);
}