.filterButton:hover {
    background-color: rgba(15, 57, 77, 0.6);
    color: rgb(255, 255, 255);
}
.filterButton {
    text-align: center;
    margin: 10px 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: rgb(15, 57, 77);
    background-color: rgba(15, 57, 77, 0.4);
    color: rgb(255, 255, 255);
}
.selected {
    background-color: rgb(15, 57, 77);
    color: rgb(255, 255, 255);
}
.selected:hover {
    background-color: rgb(15, 57, 77);
    color: rgb(255, 255, 255);
}