.frminput {
    padding: 13px;
    width: 50%;
    height: 40%;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.6);
    outline: none;
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
.hide {
    display: none;
}
.showError {
    color: red;
    font-size: 20px;
}
.errorfrmInput {
    padding: 13px;
    width: 50%;
    height: 40%;
    border-radius: 10px;
    border: 1px solid rgba(255,0,0,0.9);
    outline: none;
    margin: 10px;
}