.frminput {
    display: block;
    padding: 13px;
    width: 31.4vw;
    height: 20px;
    border: 1px solid var(--colorBright2);
    border-radius: 5px;
    outline: none;
    background-color: var(--colorBackground);
    color: var(--colorBright);
}
.showError {
    color: red;
    text-align: center;
}
.redBorder {
    border: 1px solid rgba(255,0,0,0.9);
}
.errorDiv {
    height: 20px;
}