.clearCompletedButton:hover {
    background-color: rgb(15, 57, 77);
    color: rgb(255, 255, 255);
}
.clearCompletedButton {
    text-align: center;
    margin: 10px 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: rgb(15, 57, 77);
    background-color: rgba(15, 57, 77, 0.8);
    color: rgb(255, 255, 255);
}
.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(15, 57, 77);
    width: 31.4vw;
    padding: 0 13px;
}
.countDisplay {
    margin: 10px 20px;
}
.hide {
    display: none;
}