.clearCompletedButton:hover {
    background-color: var(--colorBright);
    color: var(--colorBackground);
}
.clearCompletedButton {
    text-align: center;
    margin: 10px 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--colorDull3);
    color: var(--colorBright3);
    border: 1px solid var(--colorBright3);
}
.clearCompletedButton:disabled {
    background-color: transparent;
    border: 1px solid var(--colorDull3);
    color: var(--colorDull3);
    cursor: auto;
}
.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--colorBright2);
    border-radius: 5px;
    background-color: transparent;
    width: 31.4vw;
    padding: 0 13px;
}
.countDisplay {
    margin: 10px 20px;
    color: var(--colorBright);
}