body {
  background-color: rgba(128, 208, 252, 0.116);
}
* {
  font-weight: lighter;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(15, 57, 77);
}
.title {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 90px;
  color: rgb(15, 57, 77);
  text-align: center;
  display: block;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}