* {
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(15, 57, 77);
}
.clearCompletedButton:hover {
    color: rgb(20, 180, 255);
}
.clearCompletedButton {
    margin: 10px 20px;    
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: underline;
    text-underline-position: under;
}
.displayList {
    border: 1px solid rgb(15, 57, 77);
    border-radius: 5px;
    text-align: left;
    padding: 10px 10px;
    margin: auto;
    background-color: white;
}
.hide {
    display: none;
}
.scrollArea {
    max-height: 500px;
    overflow: auto;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.countDisplay {
    margin: 10px 20px;
}