.clearCompletedButton:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.clearCompletedButton {
    margin: 10px 20px;    
    background: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
}
.hide {
    display: none;
}
.todoItems {
    transform: scale(1.3);
    padding: 10px 10px;
    margin: 20px 20px;
    font-family: sans-serif;
}